{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - content.children: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - content: The field item content.
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0, false) }}

{% macro menu_links(items, attributes, menu_level, active_trail) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
    {% set classes = ['roosMenu'] %}
      <ul{{ attributes.addClass(classes) }}>
    {% else %}
      <ul class="subMenu"{% if active_trail %} style="display:block;overflow:visible;"{% endif %}>
    {% endif %}
    {% for item in items %}
      {% set menu_item_classes = [
        'tierMenu',
        item.in_active_trail ? 'over'
      ] %}
      <li{{ item.attributes.addClass(menu_item_classes).removeClass('col') }}>
        {% if item.in_active_trail and menu_level > 1 %}
          {{ link(item.title, item.url, {'id': 'selectedNav'}) }}
        {% else %}
          {{ link(item.title, item.url) }}
        {% endif %}
        {% if item.below %}
          <span class="openChild"><span class="openChildInner"></span></span>
          {{ menus.menu_links(item.below, attributes, menu_level + 1, item.in_active_trail) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
