{#
/**
 * @file
 * Theme override to display a block.
 *
 */
#}

<div id="plcmaincontent_3_pnlFeedSection" class="eventDetails-associatedEventsContainer">
  {{ title_prefix }}
  <div class="eventDetails-associatedEventsWrapper">
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
  </div>
</div>
